*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60rem;
    padding: 3rem;
    background-image: url(../img/background-ad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
}

.advertisement-title-name {
    font-size: 5rem;
}

.advertisement-salary, .advertisement-location {
    font-size: 4rem;
}

#options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    font-size: 3rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 19%;
    height: 20rem;
    border: solid grey;
    border-radius: 30px;
}

.details {
    font-size: 2.5rem;
    color: #c9ccd3
}

.description {
    font-size: 3rem;
    padding-top: 4%;
    margin-right: 3%;
    margin-left: 3%;
}

.description-background {
    /*background-image: url(../img/marble.jpg);*/
    padding-bottom: 50rem;
    background: #C9CCD3 linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: lighten;
}