*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

h1 {
    font-size: 6rem;
    text-align: center;
    background-color: lightgray;
    border-radius: 30px;
    transition: transform 0.3s ease;
    padding: 1.5%;
    margin: 0.5%;
}

.header-img {
    height: 30rem;
    background-image: url(../img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    font-size: 4rem;
    text-align: center;
    padding: 1%;
}

table {
    border-radius: 30px;
    border-collapse: collapse;
    font-size: 3rem;
    text-align: center;
}

.table-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    flex-direction: column-reverse;
    padding-left: 2%;
    padding-right: 2%;
}

.blackButton {
    font-size: 3rem;
    text-align: right;
    background: black;
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;
    padding: 1%;
    margin: 0.5%;
}

.blackButton ::after, .blackButton::before {
    position: absolute;
    opacity: 0.3;
    background: black;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.blackButton:hover {
    transform: translate(-12px, 12px);
}

.blackButton:hover:after {
    transform: translate(6px, 6px);
}

.blackButton:hover:before {
    transform: translate(12px, 12px);
}

.whiteButton {
    border: solid;
    border-width: 1px;
    border-color: black;
    background: white;
    color: black;
    border-radius: 30px;
    transition: transform 0.3s ease;
    font-size: 3rem;
    text-align: right;
    background-color: white;
    padding: 1%;
    margin: 0.5%;
}

.whiteButton ::after, .whiteButton::before {
    position: absolute;
    opacity: 0.3;
    background: white;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.whiteButton:hover {
    transform: translate(-12px, 12px);
}

.whiteButton:hover:after {
    transform: translate(6px, 6px);
}

.whiteButton:hover:before {
    transform: translate(12px, 12px);
}

#addadvbutton {
    font-size: 3rem;
    text-align: right;
    background: black;
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;
    padding: 1%;
    margin: 0.5%;
}

#addadvbutton ::after, #addadvbutton::before {
    position: absolute;
    opacity: 0.3;
    background: black;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

#addadvbutton:hover {
    transform: translate(-12px, 12px);
}

#addadvbutton:hover:after {
    transform: translate(6px, 6px);
}

#addadvbutton:hover:before {
    transform: translate(12px, 12px);
}


.link {
    font-size: 2rem;
    text-decoration: none;
}

button {
    padding: 1rem 2rem;
    background: white;
    color: black;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

td {
    padding: 1rem;
    border: solid black 1px;
    border-color: darkgray;
    border-left: none;
    border-right: none;
}

.row::after, td::before {
    position: absolute;
    opacity: 0.3;
    background: white;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.row:hover {
    transform: translate(-12px, 12px);
}

.row:hover:after {
    transform: translate(6px, 6px);
}

.row:hover:before {
    transform: translate(12px, 12px);
}

th {
    border-radius: 30px;
    transition: transform 0.3s ease;
    padding: 1.5%;
    margin: 2%;
    color: white;
    padding: 1rem;
    border: solid black 1px;
    background-color: black;
    border-left: none;
    border-right: none;
}
