*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Open-Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: lightgray;
}

.header-img {
    width: 70%;
    height: 50rem;
    margin: 10rem auto;
    background-image: url(../img/login1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    height: 75rem;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    width: 50rem;
    height: 40rem;
    border: 1px solid black;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.25rem 0;
    font-size: 2.5rem;
    padding: 1rem 0;
}

label {
    font-size: 3.5rem;
}

input {
    font-size: 2.5rem;
}

.error-message {
    text-align: center;
    font-size: 2rem;
    color: red;
    padding: 0 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 66%;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 2rem;
    border-radius: 8px;
    text-transform: uppercase;
    background-color: aliceblue;
    overflow: hidden;
    cursor: pointer;
}

.registration {
    margin-top: 3rem;
}

#registration-paragraph {
    font-size: 2rem;
}

#registration-paragraph a {
    text-transform: uppercase;
}