*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Open-Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/success.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h3 {
    font-size: 4rem;
    padding-top: 21rem;
    padding-left: 1.5rem;
    margin-bottom: 3rem;
}

h4 {
    padding-left: 1.5rem;
    font-size: 3.15rem;
}