*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Open-Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: lightgray;
}

.header-img {
    height: 50rem;
    background-image: url(../img/add-adv.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 5%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    height: 250vh;
}

.adv-form {
    width: 55%;
    height: auto;
    padding: 5rem;
    border: 2px solid black;
}

#add-adv-form {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    justify-content: space-between;
    margin: 3%;
    font-size: 3rem;
}

.input-value {
    font-size: 3rem;
}

#input-value-content {
    width: 39rem;
    height: 25rem;
}

.text-area {
    font-size: 2rem;
    resize: none;
}

.select-list {
    width: 39rem;
}

button {
    align-self: center;
    width: 25rem;
    margin-top: 5rem;
    padding: 2rem;
    font-size: 3rem;
    border-radius: 10px;
}