<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dodaj nowe ogłoszenie</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/addAdvertisement.css}"/>
</head>
<body>
<div class="header-img"></div>
<h1>Dodaj swoje ogłoszenie</h1>

<main>
  <div class="adv-form">
    <form id="add-adv-form" th:object="${advertisementRequestDto}" method="post" enctype="utf8">
      <div class="field">
        <label th:text="#{label.advertisement.title}"></label>
        <input class="input-value" th:field="*{title}">
      </div>
      <div class="field">
        <label th:text="#{label.advertisement.content}"></label>
        <textarea class="input-value text-area" th:field="*{content}" id="input-value-content" wrap="soft" required
                  maxlength="10000"></textarea>
      </div>
      <div class="field">
        <label th:text="#{label.advertisement.companyName}"></label>
        <input class="input-value" th:field="*{companyName}">
      </div>
      <div class="field">
        <label th:text="#{label.advertisement.salary}"></label>
        <input class="input-value" th:field="*{salary}">
      </div>
      <div class="field">
        <label th:text="#{label.localization}"></label>
        <select class="select-list" th:name="locationId" id="localization-list">
          <option value="" selected disabled>--Wybierz opcje--</option>
          <option th:each="location : ${allLocations}" th:text="${location.location}"
                  th:value="${location.locationId}"></option>
        </select>
      </div>
      <div class="field">
        <label th:text="#{label.experience}"></label>
        <select class="select-list" th:name="experienceId" id="experience-list">
          <option value="" selected disabled>--Wybierz opcje--</option>
          <option th:each="experience : ${allExperienceLevels}" th:text="${experience.experience}"
                  th:value="${experience.experienceId}"></option>
        </select>
      </div>
      <div class="field">
        <label th:text="#{label.contractType}"></label>
        <select class="select-list" name='contractTypeIds[]' id="contractType-list">
          <option value="" selected disabled>--Wybierz opcje--</option>
          <option th:each="contract : ${allContractTypes}" th:text="${contract.contractType}"
                  th:value="${contract.contractTypeId}"></option>
        </select>
      </div>
      <div class="field">
        <label th:text="#{label.technology}"></label>
        <select class="select-list" name='technologyIds[]' id="technology-list">
          <option value="" selected disabled>--Wybierz opcje--</option>
          <option th:each="technology : ${allTechnologies}" th:text="${technology.technology}"
                  th:value="${technology.technologyId}"></option>
        </select>
      </div>
      <button type="submit" th:text="Dodaj"></button>
    </form>
  </div>
</main>
</body>
</html>