<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/advertisement.css}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<head>
  <meta charset="UTF-8">
  <title>Advertisement</title>
</head>
<body>
<div class="header">
  <p class="advertisement-title-name" th:text="${advertisement.title}"></p>
  <p class="advertisement-salary">
    <span th:text="#{label.advertisement.salary}"></span>
    <span th:text="${advertisement.salary}"></span>
    <span>brutto/miesięcznie</span>
  </p>
  <p class="advertisement-location">
    <span th:text="#{label.index.localization}"></span>
    <span th:each="location : ${locationsById}" th:text="${location.location}" th:value="${location.locationId}"></span>
  </p>
  <div id="options">
    <div class="box">
      <p th:text="${advertisement.companyName}"></p>
      <p class="details" th:text="#{label.advertisement.companyName}"></p>
    </div>
    <div class="box">
      <p th:each="technology : ${technologiesById}" th:text="${technology.technology}"
         th:value="${technology.technologyId}"></p>
      <p class="details" th:text="#{label.technology}"></p>
    </div>
    <div class="box">
      <p th:each="experience : ${experienceLevelsById}" th:text="${experience.experience}"
         th:value="${experience.experienceId}"></p>
      <p class="details" th:text="#{label.experience}"></p>
    </div>
    <div class="box">
      <p th:each="contract : ${contractTypesById}" th:text="${contract.contractType}"
         th:value="${contract.contractTypeId}"></p>
      <p class="details" th:text="#{label.contractType}"></p>
    </div>
    <div class="box">
      <p th:text="${#temporals.format(advertisement.publishingDate, 'dd-MMM-yyyy')}"></p>
      <p class="details" th:text="#{label.index.dateOfPublishing}"></p>
    </div>
  </div>
</div>
<div class="description-background">
  <div>
    <p class="description" th:text="${advertisement.content}"></p>
  </div>
</div>
</body>
</html>