<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<head>
  <meta charset="UTF-8">
  <title>Main site</title>
</head>
<body>
<h1 th:text="#{label.index.headder}"></h1>
<div class="header-img"></div>
<div th:if="!${isUserLogged}">
  <form class="blackButton">
    <a th:text="#{label.index.logging}"></a>
    <button type="button">
      <a id="login-link" class="link" href="/user/login" th:text="#{label.index.clickMe}"></a>
    </button>
  </form>
  <form class="whiteButton">
    <a th:text="#{label.index.registration}"></a>
    <button type="button">
      <a id="register-link" class="link" href="/user/register" th:text="#{label.index.clickMe}"></a>
    </button>
  </form>
</div>
<div th:if="${currentUserRole} eq 'ROLE_EMPLOYER'">
  <form class="blackButton">
    <a th:text="#{label.index.addAdv}"></a>
    <button type="button">
      <a id="add-adv-link" class="link" href="/adv-add" th:text="#{label.index.clickMe}"></a>
    </button>
  </form>
</div>
<div th:if="${isUserLogged}">
  <form class="blackButton">
    <a th:text="#{label.index.logOut}"></a>
    <button type="button">
      <a id="logout-link" class="link" href="/logout" th:text="#{label.index.clickMe}"></a>
    </button>
  </form>
</div>

<h2 th:if="${currentUserRole} eq 'ROLE_EMPLOYER'" th:text="#{label.index.myAds}"></h2>
<div class="table-container" th:if="${currentUserRole} eq 'ROLE_EMPLOYER'">
  <table th:object="${advertisementList}" method="get" enctype="utf8">
    <tr>
      <th th:text="#{label.index.companyName}"></th>
      <th th:text="#{label.index.title}"></th>
      <th th:text="#{label.index.salary}"></th>
      <th th:text="#{label.index.localization}"></th>
      <th th:text="#{label.index.dateOfPublishing}"></th>
      <th th:text="#{label.index.displayAdv}"></th>
      <th th:text="#{label.index.editAdv}"></th>
    </tr>
    <tr class="row" th:each="advertisement : ${advertisementListByUserId}">
      <td th:text="${advertisement.companyName}"></td>
      <td th:text="${advertisement.title}"></td>
      <td th:text="${advertisement.salary}"></td>
      <td th:text="${advertisement.getLocation().location}"></td>
      <td th:text="${#temporals.format(advertisement.publishingDate, 'dd-MMM-yyyy')}"></td>
      <td><a id="show-adv" th:target="_blank" th:href="@{|/advertisement/${advertisement.advertisementId}|}">Wyświetl</a></td>
      <td><a id="edit-adv" th:href="@{'/update-advertisement/' + ${advertisement.advertisementId}}" role="button">Edytuj</a></td>
    </tr>
  </table>
</div>

<h2 th:if="${currentUserRole} eq 'ROLE_USER'" th:text="#{label.index.favList}"></h2>
<div th:if="${currentUserRole} eq 'ROLE_USER'" class="table-container">
  <table th:object="${advertisementList}" method="get" enctype="utf8">
    <tr>
      <th th:text="#{label.index.companyName}"></th>
      <th th:text="#{label.index.title}"></th>
      <th th:text="#{label.index.salary}"></th>
      <th th:text="#{label.index.localization}"></th>
      <th th:text="#{label.index.dateOfPublishing}"></th>
      <th th:text="#{label.index.displayAdv}"></th>
      <th th:if="${currentUserRole} eq 'ROLE_USER'" th:text="#{label.index.deleteAdv}"></th>
    </tr>
    <tr class="row" th:each="advertisement : ${favAdvertisement}">
      <td th:text="${advertisement.companyName}"></td>
      <td th:text="${advertisement.title}"></td>
      <td th:text="${advertisement.salary}"></td>
      <td th:text="${advertisement.getLocation().location}"></td>
      <td th:text="${#temporals.format(advertisement.publishingDate, 'dd-MMM-yyyy')}"></td>
      <td><a th:target="_blank" th:href="@{|/advertisement/${advertisement.advertisementId}|}">Wyświetl</a></td>
      <td th:if="${currentUserRole} eq 'ROLE_USER'"><a id="delete-fav-link" th:href="@{'/delete-fav/' + ${advertisement.advertisementId}}"
                                                       role="button">Usuń z ulubionych</a></td>
    </tr>
  </table>
</div>

<h2 th:text="#{label.index.advList}"></h2>
<div class="table-container">
  <table th:object="${advertisementList}" method="get" enctype="utf8">
    <tr>
      <th th:text="#{label.index.companyName}"></th>
      <th th:text="#{label.index.title}"></th>
      <th th:text="#{label.index.salary}"></th>
      <th th:text="#{label.index.localization}"></th>
      <th th:text="#{label.index.dateOfPublishing}"></th>
      <th th:text="#{label.index.displayAdv}"></th>
      <th th:if="${currentUserRole} eq 'ROLE_ADMIN'" th:text="#{label.index.deleteAdv}"></th>
      <th th:if="${currentUserRole} eq 'ROLE_USER'" th:text="#{label.index.favAdv}"></th>
    </tr>
    <tr class="row" th:each="advertisement : ${advertisementList}">
      <td th:text="${advertisement.companyName}"></td>
      <td th:text="${advertisement.title}"></td>
      <td th:text="${advertisement.salary}"></td>
      <td th:text="${advertisement.getLocation().location}"></td>
      <td th:text="${#temporals.format(advertisement.publishingDate, 'dd-MMM-yyyy')}"></td>
      <td><a th:target="_blank" th:href="@{|/advertisement/${advertisement.advertisementId}|}">Wyświetl</a></td>
      <td th:if="${currentUserRole} eq 'ROLE_ADMIN'"><a id="delete-adv" th:href="@{'/delete/' + ${advertisement.advertisementId}}"
                                                        role="button">Usuń</a></td>
      <td th:if="${currentUserRole} eq 'ROLE_USER'"><a id="add-to-fav" th:href="@{'/add-fav/' + ${advertisement.advertisementId}}"
                                                       role="button">Dodaj do ulubionych</a></td>
    </tr>
  </table>
</div>
</body>
</html>
