<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Service with job advertisements</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="header-img"></div>
<main>
  <div class="login-form">
    <form th:object="${userRequestDto}" method="post" enctype="utf8">
      <div class="field">
        <label th:text="#{label.user.username}"></label>
        <input th:field="*{username}" placeholder="Twoja nazwa użytkownika">
      </div>
      <div class="field">
        <label th:text="#{label.user.password}"></label>
        <input th:field="*{password}" type="password" placeholder="Twoje hasło">
      </div>
      <button type="submit" th:text="#{label.login.signin}"></button>
    </form>
  </div>
  <div class="registration">
    <p id="registration-paragraph">Jeśli nie posiadasz konta to <a id="registration-form"
                                                                   href="/user/register">tutaj</a> możesz się
      zarejestrować</p>
  </div>
</main>
</body>
</html>
