<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Service with job advertisements</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/registration-view.css}"/>
</head>
<body>
<div class="header-img"></div>
<main>
  <div class="register-form">
    <form th:object="${userRequestDto}" method="post" enctype="utf8">
      <div class="field">
        <label th:text="#{label.user.role}"></label>
        <select class="select-list" name='roleId' id="role-list">
          <option value="" selected disabled>--Wybierz opcje--</option>
          <option th:each="role : ${allRoles}" th:text="${role.rolename}" th:value="${role.roleId}"></option>
        </select>
      </div>
      <div class="field">
        <label th:text="#{label.user.username}"></label>
        <input th:field="*{username}" placeholder="Twoja nazwa użytkownika">
        <span class="error-message" th:if="${usernameError}" th:text="${usernameError}"></span>
        <div class="error-message" th:if="${#fields.hasErrors('username')}">
          <span th:each="error : ${#fields.errors('username')}" th:text="${error}"></span>
        </div>
      </div>
      <div class="field">
        <label th:text="#{label.user.password}"></label>
        <input th:field="*{password}" type="password" placeholder="Twoje hasło">
        <div class="error-message" th:if="${#fields.hasErrors('password')}">
          <span th:each="error : ${#fields.errors('password')}" th:text="${error}"></span>
        </div>
      </div>
      <div class="field">
        <label th:text="#{label.user.email}"></label>
        <input th:field="*{email}" type="email" placeholder="Twój adres e-mail">
        <span class="error-message" th:if="${emailAddressError}" th:text="${emailAddressError}"></span>
        <div class="error-message" th:if="${#fields.hasErrors('email')}">
          <span th:each="error : ${#fields.errors('email')}" th:text="${error}"></span>
        </div>
      </div>
      <button class="glass" type="submit" th:text="#{label.user.register}"></button>
    </form>
  </div>
  <div class="login-link">
    <p id="login-paragraph">Jeśli masz już konto to <a id="login-form"
                                                                   href="/user/login">tutaj</a> możesz się
      zalogować</p>
  </div>
</main>
</body>
</html>
