<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Service with job advertisements</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/registration-success.css}"/>
</head>
<body>
<div class="success-message">
  <h3 th:text="#{label.success.successMessage}"></h3>
  <h4 th:text="#{label.success.redirectionMessage}"></h4>
</div>


<script>
    const redirectionDest = () => window.location.href = "/home";
    window.setTimeout(redirectionDest, 5000);
</script>
</body>
</html>