<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/updateAdvertisement.css}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<head>
  <meta charset="UTF-8">
  <title>Edit Advertisement</title>
</head>
<body>
<div class="header-img"></div>
<h1>Edytuj swoje ogłoszenie</h1>

<main>
  <div class="adv-form">
    <form id="add-adv-form" th:object="${advertisementRequestDto}" method="post" enctype="utf8">
      <div class="field">
        <label th:text="#{label.advertisement.title}"></label>
        <input th:object="${advertisement}" class="input-value" th:field="*{title}" th:value="${advertisement.title}">
      </div>
      <div class="field">
        <label th:text="#{label.advertisement.content}"></label>
        <textarea th:object="${advertisement}" class="input-value text-area" th:field="*{content}"
                  id="input-value-content" wrap="soft" required maxlength="10000"
                  th:value="${advertisement.content}"></textarea>
      </div>
      <div class="field">
        <label th:text="#{label.advertisement.companyName}"></label>
        <input th:object="${advertisement}" class="input-value" th:field="*{companyName}"
               th:value="${advertisement.companyName}">
      </div>
      <div class="field">
        <label th:text="#{label.advertisement.salary}"></label>
        <input th:object="${advertisement}" class="input-value" th:field="*{salary}" th:value="${advertisement.salary}">
      </div>
      <div class="field">
        <label th:text="#{label.localization}"></label>
        <select class="select-list" th:name="locationId" id="localization-list">
          <option th:object="${allLocations}" selected th:text="${locationsById.location}"></option>
          <option th:each="location : ${allLocations}" th:text="${location.location}"
                  th:value="${location.locationId}"></option>
        </select>
      </div>
      <div class="field">
        <label th:text="#{label.experience}"></label>
        <select class="select-list" th:name="experienceId" id="experience-list">
          <option th:object="${allExperienceLevels}" selected th:text="${experienceLevelsById.experience}"></option>
          <option th:each="experience : ${allExperienceLevels}" th:text="${experience.experience}"
                  th:value="${experience.experienceId}"></option>
        </select>
      </div>
      <div class="field">
        <label th:text="#{label.contractType}"></label>
        <select class="select-list" name='contractTypeIds[]' id="contractType-list">
          <option th:each="contract : ${contractTypesById}" th:object="${contract}" selected
                  th:text="${contract.contractType}"></option>
          <option th:each="contract : ${allContractTypes}" th:text="${contract.contractType}"
                  th:value="${contract.contractTypeId}"></option>
        </select>
      </div>
      <div class="field">
        <label th:text="#{label.technology}"></label>
        <select class="select-list" name='technologyIds[]' id="technology-list">
          <option th:each="technology : ${technologiesById}" th:object="${technology}" selected
                  th:text="${technology.technology}"></option>
          <option th:each="technology : ${allTechnologies}" th:text="${technology.technology}"
                  th:value="${technology.technologyId}"></option>
        </select>
      </div>
      <div style="display: none">
        <input type="hidden" th:object="${advertisement}" class="input-value" th:field="*{publishingDate}"
               th:value="${advertisement.publishingDate}">
      </div>
      <button type="submit" th:text="Zapisz"></button>
    </form>
  </div>
</main>
</body>
</html>